# name: Build & Push Docker Image to Docker Hub
# on:
#   workflow_dispatch:

# # on:
# #   push:
# #     branches:
# #       - main  # Change to your desired branch if needed

# jobs:
#   docker:
#     runs-on: ubuntu-latest

#     steps:
#       # Step 1: Checkout source code
#       - name: Checkout code
#         uses: actions/checkout@v3

#       # Step 2: Set up Docker Buildx
#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       # Step 3: Log in to Docker Hub
#       - name: Login to Docker Hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       # Step 4: Build and push image
#       - name: Build and Push Docker Image
#         uses: docker/build-push-action@v5
#         with:
#           context: .
#           push: true
#           tags: arif0ahammed0reza/next-japan:latest
